# Python cache files
__pycache__/
*.py[cod]

# Build and distribution
build/
dist/
*.egg-info/

# OS files
.DS_Store

# Editor
.vscode/

# Project specific
*.typed
data/
!data/alsomitra/
!data/alsomitra/**
!data/dice/
!data/dice/**

# API credentials
.pypirc
